.hero {
  padding: 100px 0;
}

.hero-content h1 {
  font-size: 3rem;
  color: #8B4513;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

.btn-custom {
  background-color: #8B4513;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: #A0522D;
  color: white;
}

.stats .stat h2 {
  font-size: 2rem;
  color: #8B4513;
  margin-bottom: 10px;
}

.stats .stat p {
  font-size: 1rem;
  color: #555;
}

.hero-images img {
  width: 70%;
  height: 36vh;
}

.hero-images .image-one {
  float: left;
  margin-left: 100px;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-images {
    margin-top: 30px;
  }

  .hero-images .image-one {
    float: left;
    margin-left: 0px;
  }

  .hero-images img {
    width: 100%;
    height: auto;
  }
}


/* Second */
/*---- NUMBER OF SLIDE CONFIGURATION ----*/
.wrapper {
  max-width: 60em;
  margin: 1em auto;
  position: relative;
}

input {
  display: none;
}

.inner {
  width: 500%;
  line-height: 0;
}

article {
  width: 20%;
  float: left;
  position: relative;
}

article img {
  width: 100%;
  height: 70vh;
  border-radius: 30px;
}

/*---- SET UP CONTROL ----*/
.slider-prev-next-control {
  height: 50px;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.slider-prev-next-control label {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.7;
}

.slider-prev-next-control label:hover {
  opacity: 1;
}

.slider-dot-control {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.slider-dot-control label {
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #bbb;
  margin: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: -35px;
}

.slider-dot-control label:hover {
  background: #ccc;
  border-color: #777;
}

/* Info Box */
.info {
  position: absolute;
  font-style: italic;
  line-height: 20px;
  opacity: 0;
  color: #000;
  text-align: left;
  -webkit-transition: all 1000ms ease-out 600ms;
  -moz-transition: all 1000ms ease-out 600ms;
  transition: all 1000ms ease-out 600ms;
}

.info h3 {
  color: #fcfff4;
  margin: 0 0 5px;
  font-weight: normal;
  font-size: 1.5em;
  font-style: normal;
}

.info.top-left {
  top: 30px;
  left: 30px;
}

.info.top-right {
  top: 30px;
  right: 30px;
}

.info.bottom-left {
  bottom: 30px;
  left: 30px;
}

.info.bottom-right {
  bottom: 30px;
  right: 30px;
}


/* Slider Styling */
.slider-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 1px 1px 4px #666;
  background: #fff;
  background: #fcfff4;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.slider-wrapper .inner {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
#slide5:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(1)::after,
#slide5:checked~.slider-prev-next-control label:nth-child(1)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide1:checked~.slider-prev-next-control label:nth-child(2)::after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin: 0;
  line-height: 38px;
  font-size: 3em;
  display: block;
  color: #777;
}

#slide5:checked~.slider-prev-next-control label:nth-child(1)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(5)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide1:checked~.slider-prev-next-control label:nth-child(2)::after {
  content: "";
  padding-left: 15px;
}

#slide5:checked~.slider-prev-next-control label:nth-child(1),
#slide4:checked~.slider-prev-next-control label:nth-child(5),
#slide3:checked~.slider-prev-next-control label:nth-child(4),
#slide2:checked~.slider-prev-next-control label:nth-child(3),
#slide1:checked~.slider-prev-next-control label:nth-child(2) {
  /* display: block; */
  float: right;
  margin-right: 5px;
}

#slide1:checked~.slider-prev-next-control label:nth-child(5),
#slide5:checked~.slider-prev-next-control label:nth-child(4),
#slide4:checked~.slider-prev-next-control label:nth-child(3),
#slide3:checked~.slider-prev-next-control label:nth-child(2),
#slide2:checked~.slider-prev-next-control label:nth-child(1) {
  /* display: block; */
  float: left;
  margin-left: 5px;
}

#slide1:checked~.slider-prev-next-control label:nth-child(5)::after,
#slide5:checked~.slider-prev-next-control label:nth-child(4)::after,
#slide4:checked~.slider-prev-next-control label:nth-child(3)::after,
#slide3:checked~.slider-prev-next-control label:nth-child(2)::after,
#slide2:checked~.slider-prev-next-control label:nth-child(1)::after {
  content: "";
  padding-left: 8px;
}

#slide5:checked~.slider-dot-control label:nth-child(5),
#slide4:checked~.slider-dot-control label:nth-child(4),
#slide3:checked~.slider-dot-control label:nth-child(3),
#slide2:checked~.slider-dot-control label:nth-child(2),
#slide1:checked~.slider-dot-control label:nth-child(1) {
  background: #333;
}

#slide5:checked~.slider-wrapper article:nth-child(5) .info,
#slide4:checked~.slider-wrapper article:nth-child(4) .info,
#slide3:checked~.slider-wrapper article:nth-child(3) .info,
#slide2:checked~.slider-wrapper article:nth-child(2) .info,
#slide1:checked~.slider-wrapper article:nth-child(1) .info {
  opacity: 1;
}

#slide1:checked~.slider-wrapper .inner {
  margin-left: 0%;
}

#slide2:checked~.slider-wrapper .inner {
  margin-left: -100%;
}

#slide3:checked~.slider-wrapper .inner {
  margin-left: -200%;
}

#slide4:checked~.slider-wrapper .inner {
  margin-left: -300%;
}

#slide5:checked~.slider-wrapper .inner {
  margin-left: -400%;
}

@media (max-width: 768.98px) {
  .slider-wrapper{
    width: 90%;
    margin: auto;
  }
}

@media only screen and (max-width: 450.98px) {
  .slider-wrapper {
    height: 60vh;
    object-fit: contain;
  }

  .slider-wrapper .info {
    opacity: 0;
  }
}


/* Third */
body {
  font-family: Arial, sans-serif;
}

.hero-section {
  padding: 60px 0;
  background-color: #f8f9fa;
}

.hero-section h1 {
  color: #8B4513;
  font-weight: bold;
}

.hero-section p {
  font-size: 1.1rem;
  color: #555;
}

.hero-section .img-fluid {
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1199.98px) {
  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section p {
    font-size: 1rem;
  }
}

@media (max-width: 991.98px) {
  .hero-section .img-fluid {
    margin: auto;
  }

  .hero-section {
    text-align: center;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 0.9rem;
  }
}

@media (max-width: 767.98px) {
  .hero-section {
    text-align: center;
  }

  .hero-section h1 {
    font-size: 1.8rem;
  }

  .hero-section p {
    font-size: 0.9rem;
  }

  .hero-section .img-fluid {
    margin-top: 20px;
    margin: auto;
  }
}

/* Four */
.hero-image {
  background-image: url(/assets/images/d3a535ebb6b9aa1e3667f84f5670fe3d.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(210, 176, 104, 0.5); /* Add the rgba overlay */
  border-radius: 20px;
  z-index: 1;
}

.hero-text {
  padding: 0 20px;
  position: relative;
  z-index: 2; /* Ensure text is above the overlay */
}

.hero-text h1 {
  font-size: 25px;
  margin: 0 0 10px;
}

.hero-text p {
  font-size: 16px;
  margin: 5px 0;
}

.hero-text button {
  border: none;
  outline: none;
  padding: 10px 25px;
  background-color: #ddd;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

@media (max-width: 1275px) {
  .hero-image{
    width: 90%;
  }
}
@media (max-width: 768px) {
  .hero-image{
    width: 90%;
  }

  .hero-text h1 {
    font-size: 20px;
  }

  .hero-text p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 18px;
  }

  .hero-text p {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .hero-text {
    padding: 0 10px;
  }
  
  .hero-text h1 {
    font-size: 16px;
  }

  .hero-text p {
    font-size: 10px;
  }

  .hero-text button {
    padding: 8px 20px;
    font-size: 12px;
  }
}


/* Five */
.swiper-slide {
  position: relative;
  width: 200px;
  border-radius: 12px;
  overflow: hidden;
  transition: 1s;
  user-select: none;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      rgba(130, 13, 13, 0.8),
      rgba(39, 8, 92, 0.8));
  mix-blend-mode: multiply;
  z-index: 1;
}


.swiper-slide-active {
  position: relative;
  width: 350px;
  transition: 1s;
}

.swiper-slide-active::after {
  background: rgba(123, 123, 123, 0.4);
}

/* six */
.service-box {
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.service-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service-box img {
  width: 50px;
  height: 50px;
}

.service-box h4 {
  font-size: 1.25rem;
  margin-top: 15px;
  margin-bottom: 10px;
}

.service-box p {
  font-size: 0.9rem;
  color: #666;
}

/* sever */
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border-radius: 30px;
  background: #fff;
  color: brown;
  border: 2px solid;
}

.testimonial-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
}

.testimonial {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.testimonial-content {
  max-width: 100%;
}

.it-star {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cfcfcf;
  padding: 20px;
  border-radius: 15px;
}

.stars {
  color: #ffd700;
  text-align: center;
  font-size: 1.5rem;
}

.testimonial-content p {
  font-size: 1rem;
  width: 280px;
  text-align: -webkit-center;
  color: #555;
}

.testimonial-author {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.testimonial-author img {
  border-radius: 50%;
  margin: auto;
}

.testimonial-author p {
  margin: 0;
  line-height: 37px;
}

.testimonial-image {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
}

.testimonial-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.controls {
  text-align: center;
}

.controls .btn {
  margin: 0 10px;
}

@media (min-width: 768px) {
  .testimonial {
    flex-direction: row;
    justify-content: space-between;
  }

  .testimonial-content {
    max-width: 50%;
    text-align: left;
  }

  .testimonial-image {
    max-width: 50%;
  }
}

/* contact */
.contact-form {
  background-color: #f8c19a;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #7f4f26;
}

.form-control{
  background-color: #f8c19a;
  border: 1px solid #000;
}

.contact-form label {
  margin-top: 10px;
  font-size: 1rem;
  color: #7f4f26;
}

.btn-primary {
  background-color: #7f4f26;
  border: none;
}

.btn-primary:hover {
  background-color:  #5f3b1b;
}

.it_contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.contact-image {
  flex: 2;
  overflow: hidden;
  max-height: 100vh;
}

.contact-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px;
}

.contact-form {
  flex: 1;
  background-color: #d7a87d;
  padding: 30px;
  border-radius: 30px;
  margin-left: -80px;
  box-sizing: border-box;
}

.contact-form h3 {
  margin-top: 0;
  color: #5a3d29;
  font-size: 24px;
  text-align: center;
}

.it_contact form {
  display: flex;
  flex-direction: column;
}

.it_contact label {
  margin: 10px 0 5px;
  color: #5a3d29;
}

input.form-control, textarea.form-control {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #5a3d29;
  border-radius: 10px;
  font-size: 16px;
  background: transparent;
}

.it_contact button {
  background: #843F0F;
  color: #ffffff !important;
  margin: 15px;
  padding: 7px 25px;
  transition: 0.3s;
  font-weight: 700;
  font-size: 14px;
  font-family: "Gill Sans", sans-serif;
  border-radius: 30px;
  border: 0px solid #f1f1f1 !important;
  width: 50%;
}

.it_contact button:hover {
  background-color: #E8C19F;
  color: #843F0F !important;
}


@media (max-width: 768px) {
  .it_contact {
      flex-direction: column;
      height: auto;
  }

  .contact-image {
      flex: none;
      width: 100%;
      max-height: 50vh;
  }

  .contact-image img {
      border-radius: 10px 10px 0 0;
  }

  .contact-form {
      flex: none;
      width: 100%;
      border-radius: 30px;
      margin-left: 0;
      padding: 20px;
      margin-top: 30px;
  }
}